$color0: rgb(42, 42, 42);
$color1: #02315E;
$color2: #00457E;
$color3: #2F70AF;
$color3a: #518dc9;
$color4: #B9848C;
$color5: #806491;
$color6: #f1f1f1;
$color7: #6d0505;
$color8: rgba(253, 253, 253, 0.842);