@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./css/palette.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: $color0;
}

body {
  background-image: url("https://wallpaper-house.com/data/out/6/wallpaper2you_89087.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.App {
  text-align: center;
}

.page-title {
  font-size: 72px;
  font-weight: 700;
  color: $color6;
}

.todo-item {
  width: 800px;
  height: 70px;
  padding: 0px 25px;
  border: 5px solid $color2;
  background-color: rgba(255, 255, 255, 0.466);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-item {
  * {
    color: $color1;
  }
}

.btn__el {
  background-color: rgba(253, 253, 253, 0.651);
    * {
      color: $color3a;
    }
}

.btn__el:hover {
  cursor: pointer;
  background-color: rgba(253, 253, 253, 0.842);
  box-shadow: 0 0 0 5px #30303011;
  * {
    color: $color2;
  }
}

.del-btn:hover {
  cursor: pointer;
  * {
    color: $color7;
  }
}


.taskIsDone {
  background-color: rgba(134, 134, 134, 0.589);
  .btn__el {
    background-color: rgba(255, 255, 255, 0.151);
  }
}
